<% include partials/header%>

<h1>Landing Page for the YelpCamp App</h1>
<p>Welcome to the YelpCamp!</p>
<a href="/campgrounds">Go to campgrounds!!</a>
<a href='/campgrounds/new'>Add a new campground</a>

<% include partials/footer%>
